In [5]:
# setup
import pandas as pd
from pathlib import Path

In [29]:
## path setup
# choose base for uploading
base_folder = Path().resolve().parent

data_folder = base_folder / "data"
cleaned_folder = data_folder / "clean_data"

# create folder
cleaned_folder.mkdir(parents = True, exist_ok = True)

In [31]:
## upload data
# CPI file path
cpi_path = data_folder / "CPI All Urban Consumers Dairy and Related Products in U.S. City Average.xlsx"

# upload FRED data
cpi_control = pd.read_excel(cpi_path, sheet_name = "Annual")

## milk_df path
milk_df_path = cleaned_folder / "milk_df_clean.xlsx"

# upload milk_df
milk_df = pd.read_excel(milk_df_path)

In [33]:
## data cleaning
# rename columns
cpi_control.columns = ["year", "cpi"] 

# get year column to just be years and not months
cpi_control["year"] = pd.to_datetime(cpi_control["year"]).dt.year

# check to see if it worked
cpi_control.head()

   year     cpi
0  1935  15.325
1  1936  15.983
2  1937  16.567
3  1938  15.667
4  1939  15.058

In [35]:
## setting index for inflation
# identify base year
base_year = 2005
base_cpi = cpi_control.loc[cpi_control["year"] == base_year, "cpi"].iloc[0]

cpi_control["cpi_index"] = cpi_control["cpi"] / base_cpi
cpi_control

cpi_control = cpi_control[cpi_control["year"].isin([2005, 2010, 2016])]

cpi_control

    year      cpi  cpi_index
70  2005  182.383   1.000000
75  2010  199.245   1.092454
81  2016  217.306   1.191482

In [37]:
## merge all datasets
# add CPI into milk_df
milk_df = milk_df.merge(cpi_control[["year", "cpi_index"]],
                        how = "left", left_on = "Year", right_on = "year")

# cleanup
milk_df = milk_df.drop(columns=["year"])

milk_df

,Year,State,Organic,milk_sold,gross_value,feed_costs,marketing_costs,operating_costs,overhead,total_costs,cows_per_farm,output_per_cow,cpi_index
0,2005,Minnesota,1,20.88,23.17,10.11,0.43,14.30,16.31,30.61,59,13058,1.000000
1,2005,New York,1,24.03,26.87,13.08,0.24,16.63,21.37,38.00,53,10956,1.000000
2,2005,Pennsylvania,1,24.23,26.85,13.23,0.31,17.10,14.61,31.71,46,12177,1.000000
3,2005,Vermont,1,24.23,26.87,13.61,0.24,17.62,18.88,36.50,62,11982,1.000000
4,2005,Wisconsin,1,21.19,23.63,13.47,0.22,17.11,14.95,32.07,65,13101,1.000000
5,2010,Minnesota,1,25.17,27.81,14.01,0.25,17.89,21.99,39.88,36,10542,1.092454
6,2010,New York,1,24.29,27.22,11.58,0.39,16.39,18.10,34.49,73,12880,1.092454
7,2010,Pennsylvania,1,28.37,30.92,14.05,0.23,18.81,20.52,39.33,72,12247,1.092454
8,2010,Vermont,1,25.97,28.61,15.88,0.23,21.05,22.45,43.50,60,12145,1.092454
9,2010,Wisconsin,1,27.90,30.89,14.75,0.19,19.85,21.15,41.00,56,12940,1.092454
10,2016,Minnesota,1,34.87,37.98,12.93,0.20,18.56,16.47,35.03,89,13376,1.191482
11,2016,New York,1,38.09,40.81,23.65,0.10,28.56,18.06,46.62,62,12223,1.191482
12,2016,Pennsylvania,1,30.23,32.37,13.12,0.22,17.51,20.35,37.86,37,13178,1.191482
13,2016,Vermont,1,32.88,35.46,15.91,0.25,20.00,17.58,37.58,49,14543,1.191482
14,2016,Wisconsin,1,36.72,38.58,15.52,0.37,22.64,18.17,40.81,63,14211,1.191482
15,2005,Minnesota,0,13.97,15.62,8.16,0.28,10.24,3.88,14.12,988,19987,1.000000
16,2005,New York,0,18.00,19.64,9.06,0.18,12.42,6.42,18.84,1013,17572,1.000000
17,2005,Pennsylvania,0,16.94,18.37,7.59,0.70,11.06,7.42,18.48,273,17294,1.000000
18,2005,Vermont,0,14.74,16.49,8.91,0.25,11.93,9.01,20.94,133,17949,1.000000
19,2005,Wisconsin,0,15.39,17.48,7.58,0.29,11.23,9.57,20.80,127,18389,1.000000
20,2010,Minnesota,0,14.21,16.04,9.21,0.28,11.46,4.56,16.02,999,22569,1.092454
21,2010,New York,0,20.48,22.75,11.69,0.15,14.25,8.20,22.45,905,18071,1.092454
22,2010,Pennsylvania,0,18.53,20.34,9.79,0.20,12.65,9.87,22.52,188,15518,1.092454
23,2010,Vermont,0,14.83,16.40,8.13,0.26,10.14,3.36,13.50,1110,22085,1.092454
24,2010,Wisconsin,0,16.06,18.34,10.64,0.18,14.76,13.10,27.86,80,18082,1.092454
25,2016,Minnesota,0,15.23,17.41,8.86,0.24,11.22,5.66,16.88,1746,21703,1.191482
26,2016,New York,0,16.89,20.44,11.28,0.14,15.85,9.47,25.32,177,20068,1.191482
27,2016,Pennsylvania,0,15.73,18.00,9.97,0.12,13.47,8.85,22.32,144,20920,1.191482
28,2016,Vermont,0,16.24,18.15,8.62,0.13,11.82,8.30,20.12,246,23086,1.191482
29,2016,Wisconsin,0,16.80,18.82,9.59,0.18,12.77,7.99,20.76,139,19561,1.191482

In [39]:
# export file
inflation_path = cleaned_folder / "milk_df_inflation_adjusted.xlsx"

milk_df.to_excel(inflation_path, index = False)